body {
	font-family:'Open Sans', sans-serif;
	/*overflow-x: hidden;*/
}
/* scrollbar */
	@media screen and (min-width: 900px) {
		::-webkit-scrollbar {
	    	width: 7px;
		}
		/* Track */
		::-webkit-scrollbar-track {
		    box-shadow: inset 0 0 3px grey; 
		}	 
		/* Handle */
		::-webkit-scrollbar-thumb {
		    background: rgba(84, 163, 212,0.7); 
		}
		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		    background: rgba(234, 78, 83,0.7); 
		}	
	}
/* generic */
	.img-center {
	  margin: 0 auto;
	  display: block;
	}
	.text-center {
	  text-align: center;
	}
	.text-justify {
	  text-align: justify;
	}
	.invisible {
		opacity: 0;
	}
	nav li a {
	  text-transform: uppercase;
	  font-weight: 800;
	  letter-spacing: 0.7px;
	}
/* SELECTION COLOR */     
	/* COMPLETAR */ 
	::-moz-selection { /* Firefox */
	    color: #fff;
	    background: rgb(56, 76, 95);;
	}

	::selection {
	    color: #fff;
	    background: rgb(56, 76, 95);;
	}
/* NAVBAR */ 
	/* bootstrap overwrite */
	.navbar-toggle {
		margin-right: 25px;
	}
	.navbar-default {
		background-color: transparent;
	}
	.navbar-default .navbar-nav>li>a {
		  color: #337ab7;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
		background-color: #4787af;
		color:#F5f5f5;
	}
	.dropdown-menu {
		border: none!important;
	}
	.bottom-navbar .dropdown-menu {
		background-color: #4787af;
	}
	.dropdown-menu>li>a {
		font-weight: 500;
		color:#f5f5f5;
	}
	.bottom-navbar.bottom-navbar-opacity .dropdown-menu {
		background-color: rgb(84, 163, 212);
		color: #f5f5f5;
	}
	/* TOP */
	.navbar-fixed-top {
		border-width: 0px;
	}
	.top-navbar {
		font-size: 12px;
		background: rgba(234, 78, 83,0.3);
		max-height: 40px;
		height: 40px;
		line-height: 13px;
		transition: all 0.3s ease;
	}
	.top-navbar.top-navbar-opacity,
	.top-navbar.top-navbar-opacity ul li.novedades a,
	.top-navbar.top-navbar-opacity ul li.facebook a,
	.top-navbar.top-navbar-opacity ul li.colabora a {
		background: rgb(245, 136, 140);
		color: #f5f5f5;
	}
	.top-navbar ul li.novedades a {
		border: 1.5px solid rgba(0,0,0,0);
  		border-radius: 25px;
  		padding: 5px 10px;
  		margin: 3px 0px;
	}
	.top-navbar ul li.facebook a {
		border: 1.5px solid rgba(0,0,0,0);
  		border-radius: 25px;
  		padding: 5px 10px;
  		margin: 3px 0px;
  		font-size: 20px;
	}
	.top-navbar ul li.colabora a {
		border: 1.5px solid #fff;
  		border-radius: 25px;
  		padding: 5px 10px;
  		margin: 3px 0px;
	}
	.top-navbar ul li.colabora a:hover {
		border: 1.5px solid lightgreen;
  		border-radius: 25px;
  		padding: 5px 10px;
  		margin: 3px 0px;
  		background-color: lightgreen; 
  		color:#f5f5f5;
  		font-weight: 900;
	}
	/* BOTTOM */
	.bottom-navbar {
		background-color: rgba(84, 163, 212,0.2);
		transition: all 0.3s ease;
	}
	.bottom-navbar.bottom-navbar-opacity {
		background-color: rgb(84, 163, 212);
		
	}
	.navbar-default .bottom-navbar.bottom-navbar-opacity  .navbar-nav>li>a{
		color: #f5f5f5;
	}
/* FOOTER */
	footer {
		clear: both;
	}
	/* FOOTER */
	/* Underline From Left */
	.footer {
		background-color: rgb(84, 163, 212); 
		color: #f5f5f5;
	}
	.footer ul {
		list-style-type: none;
		 -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;
	}
	.footer li a {
	    padding: 10px;
	    border-radius: 3px;
	    color: #fff;
	    text-decoration: none;
	    text-transform: uppercase;
	}
	.disclaimer {
		color: rgb(90,89,89);
	}
	.hvr-underline-from-left {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	  position: relative;
	  overflow: hidden;
	}
	.hvr-underline-from-left:before {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  left: 0;
	  right: 100%;
	  bottom: 0;
	  background: #fff;
	  height: 4px;
	  -webkit-transition-property: right;
	  transition-property: right;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
	  right: 0;
	}
/* main */
	.main {
		text-align: center;
	}
	.portada {
		clear: both;
		}
	.portada-foto {
		background-image: url(../imagenes/IMG_2937.JPG);
		background-position: center bottom;
		background-size: cover;
		background-attachment: fixed;
		height: 100vh;		
	}
	.portada .portada-interior {
		font-size: 18px;
		margin-top: -225px;
		background-color: rgb(255, 255, 255);
		border-radius: 7px;
		line-height: 32px;
	}
	.portada .portada-interior p {
		margin: 0px!important;
	}
	.portada .portada-interior svg {
		margin: 60px 0px 35px 0px;
	}
	.ejes {
		font-size: 32px;
		clear: both;
		padding-top: 35px;
	}
	.ejes a {
		text-decoration: none;
	}
	.ejes a:hover {
		text-decoration: none;
	}
	.icon-round {
 		margin: 0 auto;
  		border: 2px solid transparent;
  		border-radius: 50%;
  		padding: 32px;
  		min-width: 80px;
  	}
  	.icon-xl {
  		font-size: 100px;
  	}
  	.icon-md {
  		font-size: 50px
  	}
  	.icon-round.icon-xl {
  		min-width: 162px;
	}
	.circulo1 {
		color:  #ab86bf
	}
	.circulo1 .icon-round {
		color: #ab86bf;
  		border-color: #ab86bf;
	}
	.circulo2 {
		color:  #ea4e53;
	}
	.circulo2 .icon-round {
		color: #ea4e53;
  		border-color: #ea4e53;
	}
	.circulo3 {
		color:  #286a93;
	}
	.circulo3 .icon-round {
		color: #286a93;
  		border-color: #286a93;
	}
	.ejes-texto {
		padding: 30px 25px 50px 25px;
	}
	/*.addbluer {
		filter: blur(5px) brightness(150%);
	}*/
	.portada-interior p {
		font-size: 20px;
	}
	.portada-titulo {
		display: table;
		width: 100%;
		height: 100%;
	}
	.portada-titulo h1 {
		display: table-cell;
    	vertical-align: bottom;
    	padding-bottom: 35px;
    	color: #f5f5f5;
    	font-weight: 700;
    	letter-spacing: 7px;
    	font-size: 80px; 
    	font-family: 'Oswald', sans-serif;
    	text-shadow: 2px 2px darkgrey;
    	text-align: center;
	}
	.bajada {
		font-size: 22px;
		padding-top: 35px;
	}
/* mission y vision */
	.misionyvision-portada {
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
	}
	.misionyvision-portada#top {
		background-image: url(../imagenes/IMG_2926.JPG);
		height: 65vh;	
	}
	.misionyvision-portada#bottom {
		background-image: url(../imagenes/73805.jpg);
		height: 30vh;	
	}
	.misionyvision-portada#bottom .portada-titulo {
		text-shadow: 2px 2px darkgrey;
	}
	.foto-aside {
		background-position: top center;
		background-size: cover;
		height: 500px;
	}
	.foto-aside.aside-1 {
		-webkit-filter: sepia() hue-rotate(220deg);
		filter:  sepia() hue-rotate(220deg);
		background-image: url(../imagenes/IMG_2899.JPG);
	}
	.foto-aside.aside-2 {
		-webkit-filter: sepia() hue-rotate(180deg);
		filter:  sepia() hue-rotate(160deg);
		background-image: url(../imagenes/IMG-20170332-WA1828.JPG);
		background-position: center center;
	}
	.display-table {
		width: 100%;
	    height: 100%;
	    display: table;
	    text-align: center;
	}
	.display-table div.col-md-6 {
		padding: 0px;
	}
	.display-table div.vision {
		background-color: rgb(255, 233, 255);
	}
	.display-table div.mision {
		background-color: rgb(240, 254, 255);
	}
	.texto-aside {
		display: table-cell;
    	vertical-align: middle;
    	height: 500px;
    	padding: 0px 50px;
	}
	.texto-aside p {
		font-size: 20px;
	}
	.valores {
		font-size: 18px;
	}
	.valores .col-md-4 {
		padding: 0px;
	}
	.valores-inner {
		padding: 35px 15px;
	}
	.valores .valores-inner p {
		padding: 0px 50px;
		text-align: justify;
	}
/* misión y visión -  valores */
	.cards {
		padding: 15px;
		display: flex;
		flex-flow: row wrap;
	}
	.card {
		margin: 15px;
		width: calc((100% / 3) - 30px);
		transition: all 0.2s ease-in-out;
	}
	@media screen and (max-width: 991px) {
		.card {
			width: calc((100% / 2) - 30px);
		}
	}
	@media screen and (max-width: 767px) {
		.card {
			width: 100%;
		}
	}
	.card:hover .card__inner {
		background-color: #1abc9c;
		transform: scale(1.05);
	}
	.card__inner {
		width: 100%;
		padding: 30px;
		position: relative;
		cursor: pointer;
		background-color: rgb(84, 163, 212);
		color: #eceef1;
		font-size: 1.5em;
		text-transform: uppercase;
		text-align: center;
		transition: all 0.4s ease-in-out;
	}
	.card__inner:after {
		transition: all 0.5s ease-in-out;
	}
	.card__inner .fas {
		width: 100%;
		margin-top: 0.25em;
	}
	.card__expander {
		transition: all 0.2s ease-in-out;
		background-color: #1abc9c;
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #eceef1;
		font-size: 1.5em;
	}
	.card__expander .fas {
		font-size: 0.75em;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}
	.card__expander .fas:hover {
		opacity: 0.9;
	}
	.card.is-collapsed .card__inner:after {
		content: "";
		opacity: 0;
	}
	.card.is-collapsed .card__expander {
		max-height: 0;
		min-height: 0;
		overflow: hidden;
		margin-top: 0;
		opacity: 0;
	}
	.card.is-expanded .card__inner {
		background-color: #1abc9c;
	}
	.card.is-expanded .card__inner:after {
		content: "";
		opacity: 1;
		display: block;
		height: 0;
		width: 0;
		position: absolute;
		bottom: -30px;
		left: calc(50% - 15px);
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid #1abc9c;
	}
	.card.is-expanded .card__inner .fas:before {
		content: "\f115";
	}
	.card.is-expanded .card__expander {
		max-height: 1000px;
		min-height: 150px;
		overflow: visible;
		margin-top: 30px;
		opacity: 1;
		padding: 20px;
	}
	.card.is-expanded:hover .card__inner {
		transform: scale(1);
	}
	@media screen and (min-width: 992px) {
		.card:nth-of-type(3n+2) .card__expander {
			margin-left: calc(-100% - 30px);
		}
		.card:nth-of-type(3n+3) .card__expander {
			margin-left: calc(-200% - 60px);
		}
		.card:nth-of-type(3n+4) {
			clear: left;
		}
		.card__expander {
			width: calc(300% + 60px);
		}
	}
	@media screen and (min-width: 768px) and (max-width: 991px) {
		.card:nth-of-type(2n+2) .card__expander {
			margin-left: calc(-100% - 30px);
		}
		.card:nth-of-type(2n+3) {
			clear: left;
		}
		.card__expander {
			width: calc(200% + 30px);
		}
	}
/* HISTORIA */
	.historia-portada#historia {
		background-image: url(../imagenes/480.jpg);
		height: 45vh;
		background-position: bottom center;
		background-attachment: fixed;
		background-size: cover;
	}
	.timeline {
		background: #f5f5f5;		
	}
	.timeline h1 {
		text-align: center;
		text-transform: uppercase;
	}
	.timeline ul {
		padding: 0px 0px 50px 0px ;
		margin: 0px; 
	}
	.timeline ul li {
		list-style-type: none;
		position: relative;
		width: 6px;
		margin: 0 auto;
		padding-top: 50px;
		background: #ab86bf;
	}
	.timeline ul li::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: inherit;
	}
	.timeline ul li div {
		position: relative;
		bottom: 0;
		width: 600px;
		padding: 15px;
	}
	.timeline ul li div::before {
		content: '';
		position: absolute;
		bottom: 7px;
		width: 0;
		height: 0;
		border-style: solid;
	}
	.timeline ul li:nth-child(odd) div {
		left: 45px;
		background: rgb(245, 136, 140);
	}
	.timeline ul li:nth-child(odd) div::before {
		left: -15px;
		border-width: 8px 16px 8px 0;
		border-color: transparent rgb(245, 136, 140) transparent transparent;
	}
	.timeline ul li:nth-child(even) div {
		left: -639px;
		background-color:rgb(84, 163, 212);
	}
	.timeline ul li:nth-child(even) div::before {
		right: -15px;
		border-width: 8px 0 8px 16px;
		border-color: transparent transparent transparent rgb(84, 163, 212);
	}
	time {
		display: block;
		font-weight: bold;
		margin-bottom: 8px;
	}
	/* EFFECTS
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.timeline ul li::after {
	  transition: background .5s ease-in-out;
	}
	.timeline ul li.in-view::after {
	  background: #F45B69;
	}
	.timeline ul li div {	  
		transition: all .5s ease-in-out;
	}
	.timeline ul li:nth-child(odd) div {
	  
	}
	.timeline ul li:nth-child(even) div {
	  
	}
	.timeline ul li.in-view div {
	  transform: none;
	  visibility: visible;
	  opacity: 1;
	}
	/* GENERAL MEDIA QUERIES
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	@media screen and (max-width: 900px) {
		.timeline ul li div {
			width: 250px;
		}
		.timeline ul li:nth-child(even) div {
			left: -289px;
			/*250+45-6*/
		}
	}
	@media screen and (max-width: 600px) {
		.timeline ul li {
			margin-left: 20px;
		}
		.timeline ul li div {
			width: calc(100vw - 91px);
		}
		.timeline ul li:nth-child(even) div {
			left: 45px;
		}
		.timeline ul li:nth-child(even) div::before {
			left: -15px;
			border-width: 8px 16px 8px 0;
			border-color: transparent #F45B69 transparent transparent;
		}
	}

/* equipo */
	.equipo-portada {
		background-image: url(../imagenes/1804.jpg);
		height: 45vh;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
	}
	.equipo-portada .portada-titulo h1 {
		text-transform: uppercase;
	}
	.tarjetas {
		padding-top: 50px;
	}
	.mc-footer .fab {
		text-align: center;
	}
	.material-card .img-container img {
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);
	}
